#ignore precompiled python files
*.pyc
#ignore documentation build directory
/doc/build/*
#ignore pip install info
tonic.egg-info/*
#ignore coverage info
.coverage
#ignore pytest chace
.pytest_cache/*
